.top-row {
    height: 3.5rem;
    background: linear-gradient(#000, #444);
    display: flex;
    align-items: center;
    padding: 0 1rem;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar-toggler {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255,255,255,0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 0.5rem;
    right: 1rem;
}

.navbar-toggler:checked {
    background-color: rgba(255, 255, 255, 0.2);
}

.nav-scrollable {
    display: none;
    background: linear-gradient(#222, #555);
}

.navbar-toggler:checked~.nav-scrollable {
    display: block;
}

.nav-item {
    padding: 0.5rem 0;
}

.nav-item .nav-link {
    display: flex;
    align-items: center;
    height: 3rem;
    width: 100%;
    color: white !important;
    background: transparent;
    border-radius: 4px;
    text-decoration: none;
    padding-left: 1rem;
    font-size: 1rem;
    transition: background 0.3s ease, color 0.3s ease;
}

.nav-item .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white !important;
}

.nav-item .nav-link.active {
    background-color: rgba(255, 255, 255, 0.2);
    color: white !important;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .nav-scrollable {
        display: block;
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}